/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  background-color: lightgreen;
}

tbody {
  background-color: aliceblue;
  justify-content: center;
}

form {
  display: flex;
    flex-direction: column;
    align-items: center;
  }

  div {
    text-align: center;
  }

  ul {
    align-items: center;
  }
  
  table {
    border-collapse: collapse;
    margin-top: 15px;
    
  }

  .place {
    width: 100%;
    text-align: center;
  }
  
  table td {
    border: 1px solid;
    text-align: center;
  }
  
  table th {
    background: lightblue;
    padding: 4px 30px 4px 8px;
    
  }

#data, input, button{
  height: 25px;
}

input {
  text-align: center;
  flex-direction: row;
}